<style>
  .footer {
    max-width: 100%;
    padding: var(--space-7) var(--container-padding-sides);
    margin-top: 2rem; 
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    text-align: center; 
  }
  .footer a {
    text-decoration: none;
    color: unset;
  }
  .footer a:hover {
    color: var(--color-primary);
    transition: color 0.2s ease-in-out;
  }
  .footer-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: var(--space-6);
    row-gap: var(--space-4);
    flex-wrap: wrap;
  }
  .footer nav {
  text-align: center;
  }
  .link-home {
    font-weight: bold;
    color: var(--color-primary);
    font-size: var(--font-size-lg);
  }
</style>

<footer class="footer">
  <nav>
    <p> © 2025 — Made with 💜 by David Vargas </p>
  </nav>
</footer>
